
.description-container {
    display: flex;
    gap: var(--spacing-3);
    margin-bottom: var(--spacing-3);
    justify-content: space-between;
    align-items: flex-end;
    padding: var(--spacing-3) 0;
    padding-bottom: 0;
}

.action-buttons{
    display: flex;
    gap: var(--spacing-3);
    justify-content: flex-end;
}

.action-buttons>button{
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}

.challenge_title-container,
.challenge_description-container {
    display: flex;
    gap: var(--spacing-3);
    margin-bottom: var(--spacing-1);
    margin-top: var(--spacing-3);
    align-items: flex-start;
    flex-direction: column;
}

.challenge_title-input {
    width: 100%;
    padding: var(--spacing-2);
    border: 1px solid black;
    border-radius: var(--border-radius);
}

.editor {
    border: solid 1px black !important;
    height: 250px !important; /* o cualquier altura que desees */
    /* Agregar otras propiedades si es necesario */
}


.challenge_description-container textarea {
    width: 100%;
    padding: var(--spacing-2);
    border: 1px solid black;
    border-radius: var(--border-radius);
}